<div class="main">
   
    <div class="logo" style="color: white;display: inline-flex;letter-spacing: 3px;">
        <!-- <img src="../../../assets/link.png" alt="img" width="30px" height="30px"> -->
        
       <strong style="font-size: 2rem;"><i>C</i></strong> <i class="bi bi-gear-wide-connected" style="margin-top: 5px;"></i><i style="margin-top: 5px;font-weight: bold;" >NNECT</i>
    </div>
   
        <div>
            <a routerLink="/data">DATA</a>
        </div>
        <div>
            <a routerLink="/call">CALL</a>
        </div>
        <div>
            <a routerLink="/sms">SMS</a>
        </div>
 
    
    </div>
