<div class="header-div">

    <div class="logo" style="color: white;display: inline-flex;letter-spacing: 3px;margin-left: 5%;">
        <!-- <img src="../../../assets/link.png" alt="img" width="30px" height="30px"> -->
        
       <a routerLink=""><strong style="font-size: 2rem;"><i>C</i></strong> <i class="bi bi-gear-wide-connected" style="margin-top: 5px;"></i><i style="margin-top: 5px;font-weight: bold;" >NNECT</i></a>
    </div>
    <div class="view">

        <a routerLink="/viewuser">View Users</a>

        

    </div>
    <div class="add" style="margin-right: 5%;">

        
        <a routerLink="/adduser">Add User</a>

        

    </div>

    <div class="feedback">

        <a routerLink="/feedback">View Feedbacks</a>

    </div>
</div>
