<header class="Home-header">
    <div class="logo" style="color: white;display: inline-flex;letter-spacing: 3px;">
        <!-- <img src="../../../assets/link.png" alt="img" width="30px" height="30px"> -->
        
       <strong style="font-size: 2rem;"><i>C</i></strong> <i class="bi bi-gear-wide-connected" style="margin-top: 5px;"></i><i style="margin-top: 5px;font-weight: bold;" >NNECT</i>
    </div>
    <nav class="Home-navbar">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 10%;">
                Postpaid
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Pay Bill</a></li>
              <li><a class="dropdown-item" href="#">View Plans</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 5%;">
              Account
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/login">Login</a></li>
              <li><a class="dropdown-item" routerLink="/register">Register</a></li>
              <li><a class="dropdown-item" href="#">Contact us</a></li>
              <li><a class="dropdown-item" routerLink="/admin">Admin</a></li>
            </ul>
          </div>
    </nav>
</header>
